# Git Ignore file

# Configuration directories
.idea/*

.cproject
.project
.settings/
.conan/
docs/html/
docs/apidocs/

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
gen/

# Build directories
build/
Debug/
cmake-build-debug/
bin/build
bin/test

# Compiler intermediate files
.o
.so
.la
.dylib
bin/get_version
