# Git Ignore file

# Configuration directories
.idea/*

.cproject
.project
.settings/
.conan/
docs/html/

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
gen/

# Build directories
build/
mac.build/
Debug/
.conan/
mac.conan/

# Compiler intermediate files
.o
.so
.la
.dylib

